[submodule "succinct"]
	path = succinct
	url = https://github.com/ot/succinct
[submodule "FastPFor"]
	path = FastPFor
	url = https://github.com/ot/FastPFor.git
[submodule "stxxl"]
	path = stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "indri"]
	path = indri
	url = https://github.com/lgrz/indri
